header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigTitle {
    width: 50%;
    height: auto;
}

.wotLogo {
    width: 5%;
    height: auto;
}

@media only screen and (max-width: 600px) {
   .bigTitle {
       width: 80%;
   }
   .wotLogo {
       width: 10%;
   }

}

@media only screen and (max-width: 1250px) {
   .bigTitle {
       width: 70%;
   }
   .wotLogo {
       width: 7.5%;
   }

}